body {
  max-width:1500px;
  font-size: 22px;
  text-align:center;
  background-color: #6C7A8B;
  font-family:Caveat Brush;
}



#navbar {
position: absolute;
top:0;
left:0;
padding-top: 20px;
padding: 20px;
border: 3px solid black;
height:3000px;
width:200px;
}

#navbar header {
  font-size: 1.5em;
  margin-bottom: 20px;
  
}


#navbar ul {
  list-style-type: none;
  padding: 0; 
}

#navbar li {
  margin: 20px 0; 
}

.nav-link {
 color: black;
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  background-color: #4A90E2; 
  width:100%;
}

#main-doc {
  margin-left: 250px; 
  padding: 20px;
  width: 100%;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.image-gallery {
  margin-top: 40px; 
  flex-direction: column; 
  gap: 20px; 
  justify-content: center;
   display: flex;
  justify-content: center;
}

.image-row {
  display: flex; 
  gap: 16px;
  justify-content: center;
}

.gallery-image {
  width: 450px; 
  height: 450px; 
  border-radius: 22px; 
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05); 
}

ol {
  list-style-type: none;
}
